:root{
    --main-color: hsl(0, 0%, 98%);
    --code-color: hsl(0, 0%, 90%);
}
body{
    font-size: 100%;
    background-color: var(--main-color);
    font-family: verdana, sans-serif;
    line-height: 2rem;
}
header{
    font-size: 1.6rem;
    font-weight: 800;
}
a{
    color:hsl(123, 100%, 20%)
}
a:hover{
    color:hsl(123, 100%, 35%)
}
.left-navbar{
    position: fixed;
    width: 300px;
    height: 100%;
    left: 0px;
    top: 0px;
    border: solid;
    border-color: black;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: auto;
}
.nav-link{
    width: 100%;
    height: auto;
    padding: auto;
}
#navbar header{
    width: 100%;
    height: auto;
    text-align: center;
    border-bottom: solid;
    border-width: 1px;
    padding: 1rem 0 1rem 0;
}
#navbar ul{
    list-style: none;
    width: 100%;
    height: auto;
    padding: 0px;
    font-size: 1rem;
    margin: 0;
}
#navbar li{
    border-bottom: solid;
    border-width: 1px;
    width: auto;
    height: 4rem;
    display: flex;
    align-items: center;
    padding-left: 2rem;
}
.main-container{
    margin-left: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    line-height: 2.2rem;
    padding: 2rem 0 2rem 0;
}
.main-section{
    width: 90%;
}
a{
    text-decoration: none;
}
code{
    display: block;
    white-space: pre;
    font-size: 1rem;
    line-height: 1.5rem;
    background-color: var(--code-color);
    border-radius: 5px;
    padding: 0 1rem 0 1rem;
    margin: 2rem 0 2rem 0;
    overflow: auto;
}

@media(max-width: 800px){
    .left-navbar{
        position: relative;
        width: 100%;
        height: 35vh;
        left: 0px;
        top: 0px;
        border: solid;
        border-color: black;
        border-width: 1px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: auto;
    }
    #navbar li{
        border-bottom: solid;
        border-width: 1px;
        width: auto;
        height: 2rem;
        display: flex;
        align-items: center;
        padding-left: 2rem;
    }
    .main-container{
        margin-left: 0;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1rem;
        line-height: 2.2rem;
        padding: 20px 0 2rem 0;
    }
}