:root{
    --color1: hsl(340, 7%, 17%);
    --color2: hsl(58, 85%, 55%);
    --color3: hsl(240, 14%, 97%);
    --color4: hsl(354, 100%, 71%);
}
body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 62.5%;
    background-color:  var(--color1);
}
h1{
    font-size: 2.5rem;
}
h2{
    font-size: 2rem;
}
a{
    color: var(--color3);
}
a:hover{
    color: var(--color4);
}
/* Welcome section */
.welcome{
    width: 100%;
    height: 100vh;
    color: var(--color3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;;
}
.navbar{
    position: fixed;
    display: flex;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 40px;
    background-color: var(--color2);
    font-size: 1rem;
    justify-content: flex-start;
    align-items: center;
    padding: 0 3rem 0 3rem;
}
#navigation-bar a{
    margin-right: 3rem;
    color: var(--color1);
    padding: 3px;
    text-decoration: none;
    border: solid;
    border-width: 2px;
    padding: 5px;
    border-radius: 5px;
    border-color: var(--color2);
}
#navigation-bar a:hover{
    border: solid;
    border-width: 2px;
    padding: 5px;
    border-radius: 5px;
    border-color: var(--color1);
}
#welcome-section h1, h2{
    justify-content: center;
    margin-bottom: 0;
}
