:root{
    --rounded-border: 20px;
}
body{
    font-family: Arial, sans-serif;
    background-color: rgb(14, 87, 95);
}
#schedule-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.day{
    background-color: rgb(206, 206, 206);
    width: 10rem;
    height: 21rem;
    border-radius: var(--rounded-border);
}
.day-name{
    text-align: center;
    font-size: 1.3rem;
    color: rgb(3, 35, 39);
    margin: 0 0 1rem 0;
    padding: 0.5rem 0 0.5rem 0;
    background-color: rgb(185, 212, 28);
    border-radius: var(--rounded-border) var(--rounded-border) 0 0;
}
.subject{
    width: auto;
    height: auto;
    padding: 0.5rem;
    text-align: center;
    margin-bottom: 1rem;
    background-color: rgb(184, 199, 97);
}
.subject-link{
    padding: 0;
    margin: 0;
}
.empty-link{
    width: auto;
    height: auto;
    padding: 0.5rem;
    text-align: center;
    margin-bottom: 1rem;
    background-color: rgb(160, 160, 160);
}
a{
    text-decoration: none;
    color: rgb(6, 17, 39);
}
.subject:hover{
    transform: scale(1.05);
    background-color: rgb(195, 209, 118);
    border-radius: 8px;
}

